github "Hearst-DD/ObjectMapper" ~> 2.0.0
github "mxcl/OMGHTTPURLRQ" ~> 3.2.1
github "mxcl/PromiseKit" ~> 4.0.2
github "marketplacer/keychain-swift" ~> 6.0.2
github "uphold-forks/SwiftClient" "support/migrate-swift3"
